@charset "UTF-8";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /* Primary */
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --DarkDesaturatedCyan: hsl(167, 40%, 24%); /*  (graphic design text) */
  --DarkBlue: hsl(198, 62%, 26%); /*  (photography text) */
  --DarkModerateCyan: hsl(168, 34%, 41%); /* (footer) */

  /* ### Neutral */

  --VeryDarkDesaturatedBblue: hsl(212, 27%, 19%);
  --VeryDarkGrayishBlue: hsl(213, 9%, 39%);
  --DarkGrayishBlue: hsl(232, 10%, 55%);
  --GrayishBlue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  --customColor: hsl(167deg 38% 67%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBblue);
}
h3 {
  font-weight: 900;
  color: var(--VeryDarkDesaturatedBblue);
  font-family: "Fraunces", serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
p {
  color: var(--GrayishBlue);
}

main {
  background: hsl(51deg 100% 49% / 6%);
}
header {
  height: 100%;
  position: relative;
}
article {
  position: relative;
}
.flex-direction-column {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.learnMore a{
  text-decoration: none;
}
.learnMoreUnderline {
  width: 110%;
  height: 6px;
  background-color: var(--Yellow);
  position: absolute;
  border-radius: 35px;
  bottom: 0;
  transition: 1s;
}
.graficDesign section {
  position: absolute;
  bottom: 0;
  text-align: center;
  bottom: 5rem;
}
.graficDesign section p {
  color: var(--VeryDarkDesaturatedBblue);
}

.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Tablett */
@media screen and (min-width: 700px) and (max-width: 800px) {
  [src^="images/mobile"] {
    width: 100%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
  .wrapper{
    padding: 0rem 10%!important;
  }
  .graficDesign section{
    bottom: 10%!important;
  }
}
/* Mobile-First */
@media screen and (max-width: 800px) {
  html {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  #all {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: grid;
  }
  .noMobile {
    display: none !important;
  }
  .wrapper {
    max-width: 290px;
    margin: auto;
  }
  .menueleiste {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    z-index: 5;
  }
  .menueleiste img {
    width: auto;
    height: 1rem;
  }
  .menue {
    height: 50%;
    width: 90%;
    position: fixed;
    top: 40%;
    background-color: var(--White);
    display: none;
    z-index: 1000000;
  }
  .menue a {
    font-size: 1.5rem;
  }
  .menue p > a {
    color: var(--GrayishBlue);
    text-decoration: none;
  }
  .menue div > h2 > a {
    color: var(--VeryDarkDesaturatedBblue);
    text-decoration: none;
  }
  .textMenue {
    height: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .textMenue div h2 {
    padding: 1rem 2rem;
    background: var(--Yellow);
    border-radius: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
  }

  div.dreieck {
    position: absolute;
    transform: translate(0, -95%);
    right: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-bottom: 30px solid var(--White);
  }
  .headInformation {
    color: var(--White);
    font-size: 1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    max-width: 295px;
    margin: auto;
  }
  .textblock {
    text-align: center;
    padding: 4rem 0rem;
    align-items: center;
  }
  .textblock h2,
  section h2 {
    font-weight: 900;
    font-size: 1.6rem;
  }
  .learnMore {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .learnMoreText {
    font-family: "Fraunces", serif;
    font-weight: 900;
    bottom: 0;
    z-index: 1000;
    text-transform: uppercase;
    color: var(--VeryDarkDesaturatedBblue);
  }

  /* Testimonials */

  .testimonials {
    text-align: center;
    padding: 4rem 0rem;
  }
  .testimonials div {
    gap: 3.5rem;
  }
  .workPosition {
    gap: 0.5rem;
  }
  .testimonials p {
    color: var(--VeryDarkGrayishBlue);
  }
  .testimonials h2 {
    text-transform: uppercase;
    color: var(--GrayishBlue);
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .testimonials img {
    width: 4rem;
    border-radius: 50%;
  }

  .testimonials span {
    color: var(--GrayishBlue);
    font-size: 0.8rem;
  }
  .galerie div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer {
    height: 35vh;
    background: var(--customColor);
    display: grid;
    grid-auto-rows: 0.2fr 0.3fr 1fr;
    justify-content: center;
    place-items: end center;
    padding: 4rem 0rem;
  }
  footer div a {
    text-decoration: none;
    color: var(--DarkModerateCyan);
  }
  footer div {
    display: flex;
    gap: 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 801px) {
  #all {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
  .noDesktop {
    display: none !important;
  }
  .wrapper {
    padding: 0rem 15%;
  }
  .wrapperDesktop {
    max-width: 1440px;
    margin: auto;
  }
  .menueleiste {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    z-index: 5;
    align-items: center;
  }
  .menueleiste img {
    width: auto;
    height: 1.5rem;
  }
  .menue {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    align-items: baseline;
  }
  .menue p > a {
    color: var(--White);
    text-decoration: none;
  }
  .menue div > h2 > a {
    color: var(--VeryDarkDesaturatedBblue);
    text-decoration: none;
  }
  .menue div h2 {
    padding: 0.5rem 1rem;
    background: var(--White);
    border-radius: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .menue div h2:hover{
    background-color: rgba(255, 255, 255, 0.226);
  }
  .menue div h2:hover a{
    color: var(--White);
  }

  .headInformation {
    width: 100%;
    color: var(--White);
    font-size: 1rem;
    letter-spacing: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    top: 45%;
  }
  .headInformation h1 {
    font-size: 3rem;
  }
  .brand {
    grid-row: 1;
  }
  .textblock {
    text-align: left;
    justify-content: center;
    align-items: start;
  }
  .break {
    display: block;
  }
  .textblock h2,
  section h2 {
    font-weight: 900;
    font-size: 1.6rem;
  }
  .textblock p {
    width: 70%;
  }
  .learnMore {
    position: relative;
    display: flex;
  }
  .learnMoreText {
    font-family: "Fraunces", serif;
    font-weight: 900;
    width: fit-content;
    bottom: 0;
    z-index: 1000;
    position: relative;
    text-transform: uppercase;
    color: var(--VeryDarkDesaturatedBblue);
  }
  .learnMore:hover .learnMoreUnderline{
    height: 100%;
  }

  /* Testimonials */

  .testimonials {
    /* test */
    grid-area: 4 / 1 / 4 /2 span;

    text-align: center;
    padding: 4rem 0rem;
  }
  .testimonials > div {
    gap: 3.5rem;
    flex-direction: row;
  }
  .workPosition {
    gap: 0.5rem;
    flex-direction: column;
  }
  .testimonials p {
    color: var(--VeryDarkGrayishBlue);
  }
  .testimonials h2 {
    text-transform: uppercase;
    color: var(--GrayishBlue);
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .testimonials img {
    width: 4rem;
    border-radius: 50%;
  }

  .testimonials span {
    color: var(--GrayishBlue);
    font-size: 0.8rem;
  }
  .galerie {
    grid-area: 5 / 1 / 5 /3;
  }
  .galerie div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  footer {
    height: 30vh;
    background: var(--customColor);
    display: grid;
    grid-auto-rows: 0.2fr 0.4fr 1fr;
    justify-content: center;
    place-items: end center;
    padding: 2rem 0rem 2rem 0rem;
  }
  footer div a {
    text-decoration: none;
    color: var(--DarkModerateCyan);
  }
  footer div {
    display: flex;
    gap: 2rem;
  }
  .footerLinks a:hover{
    color: var(--White);
  }
  .socials a:hover > svg path:first-of-type{
    fill: var(--White);
  }
}